<md-content layout="column" >
    <md-progress-circular md-diameter="70" ng-disabled="isData && !isUpload" class="md-warn"></md-progress-circular>
</md-content>
<md-content layout-padding layout-wrap ng-if="isData">
  <div layout="column" layout-padding layout-margin layout-fill layout-align="center center" ng-hide="isData && !isUpload" class="loaddata">
    <md-progress-circular md-diameter="70" ng-disabled="isData && !isUpload" class="md-warn"></md-progress-circular>
  </div>
  <form>
    <h1><i>{{film.formdata.title}}</i></h1>
    <div layout="row">
      <md-input-container layout-fill>
        <label translate>{{'FILM.TITLE'}}</label>
        <input type="text" ng-model="film.formdata.title" ng-change="film.modified.title = true" required>
      </md-input-container>
    </div>
    <div layout-gt-md="row fill" layout="column">
      <div  layout-gt-sm="row" layout="column">
        <md-input-container ng-if="!film.formdata.synopsi">
          <small translate>{{'FILM.SYNOPSI'}}</small>
          <input type="file" ng-model="film.formdata.synopsi" accept="application/pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document" base-sixty-four-input required ng-change="film.modified.synopsi = true" aria-label="Film synopsi">
        </md-input-container>
        <md-card ng-if="film.formdata.synopsi" class="md-image-no-fill card-film-add">
          <md-card-title>{{'FILM.SYNOPSI' | translate}}</md-card-title>
          <md-card-content layout-align="space-around">
            <a href="data:{{film.formdata.synopsiType}};base64,{{film.formdata.synopsi}}" target="_blank"><img ng-src="img/pdf.png" alt="pdf icon" /></a>
          </md-card-content>
          <md-card-footer layout="row" layout-align="end end"><ng-md-icon icon="delete" size="20" style="fill: red" ng-click="del('synopsi')"></ng-md-icon></md-card-footer>
        </md-card>
        <md-input-container ng-if="!film.formdata.short">
          <small translate>{{'FILM.SHORT'}}</small>
          <input type="file" ng-model="film.formdata.short" accept="application/pdf" base-sixty-four-input required ng-change="film.modified.short = true" aria-label="Short description">
        </md-input-container>
        <md-card ng-if="film.formdata.short" class="md-image-no-fill card-film-add">
          <md-card-title>{{'FILM.SHORT' | translate}}</md-card-title>
          <md-card-content layout-align="space-around">
            <a href="data:{{film.formdata.shortType}};base64,{{film.formdata.short}}" target="_blank"><img ng-src="img/pdf.png" alt="pdf icon" /></a>
          </md-card-content>
          <md-card-footer layout="row" layout-align="end end"><ng-md-icon icon="delete" size="20" style="fill: red" ng-click="del('short')"></ng-md-icon></md-card-footer>
        </md-card>
      </div>
      <div layout-gt-sm="row" layout="column">
        <md-input-container ng-if="!film.formdata.directorPhoto || film.modified.directorPhoto">
          <small translate>{{'FILM.DIRPHOTO'}}</small>
          <input type="file" ng-model="film.formdata.directorPhoto" accept="image/jpeg,image/gif,image/png" base-sixty-four-input required ng-change="film.modified.directorPhoto = true" aria-label="Director photo">
        </md-input-container>
        <md-card ng-if="film.formdata.directorPhoto && !film.modified.directorPhoto" class="md-image-no-fill card-film-add">
          <md-card-title>{{'FILM.DIRPHOTO' | translate}}</md-card-title>
          <md-card-content layout-align="space-around">
            <img ng-src="data:{{film.formdata.directorPhotoType}};base64,{{film.formdata.directorPhoto}}" alt="director Photo" />
          </md-card-content>
          <md-card-footer layout="row" layout-align="end end"><ng-md-icon icon="delete" size="20" style="fill: red" ng-click="del('directorPhoto')"></ng-md-icon></md-card-footer>
        </md-card>
        <md-input-container ng-if="!film.formdata.producerPhoto">
          <small translate>{{'FILM.PROPHOTO'}}</small>
          <input type="file" ng-model="film.formdata.producerPhoto" accept="image/jpeg,image/gif,image/png" base-sixty-four-input required ng-change="film.modified.producerPhoto = true" aria-label="Producer photo">
        </md-input-container>
        <md-card ng-if="film.formdata.producerPhoto" class="md-image-no-fill card-film-add">
          <md-card-title>{{'FILM.PROPHOTO' | translate}}</md-card-title>
          <md-card-content layout-align="space-around">
            <img ng-src="data:{{film.formdata.producerPhotoType}};base64,{{film.formdata.producerPhoto}}" alt="director Photo" />
          </md-card-content>
          <md-card-footer layout="row" layout-align="end end"><ng-md-icon icon="delete" size="20" style="fill: red" ng-click="del('producerPhoto')"></ng-md-icon></md-card-footer>
        </md-card>
      </div>
    </div>
    <div layout-gt-sm="row" layout="column">
      <md-input-container ng-if="!film.formdata.screenshot1">
        <small translate>{{'FILM.SCREENSHOT'}} 1</small>
        <input type="file" ng-model="film.formdata.screenshot1" accept="image/jpeg,image/gif,image/png" base-sixty-four-input required ng-change="film.modified.screenshot1 = true" aria-label="Screenshot 1">
      </md-input-container>
      <md-card ng-if="film.formdata.screenshot1" class="md-image-no-fill card-film-add">
        <md-card-title>{{'FILM.SCREENSHOT' | translate}} 1</md-card-title>
        <md-card-content layout-align="space-around">
          <img ng-src="data:{{film.formdata.screenshot1Type}};base64,{{film.formdata.screenshot1}}" alt="screenshot" />
        </md-card-content>
        <md-card-footer layout="row" layout-align="end end"><ng-md-icon icon="delete" size="20" style="fill: red" ng-click="del('screenshot1')"></ng-md-icon></md-card-footer>
      </md-card>
      <md-input-container ng-if="!film.formdata.screenshot2">
        <small translate>{{'FILM.SCREENSHOT'}} 2</small>
        <input type="file" ng-model="film.formdata.screenshot2" accept="image/jpeg,image/gif,image/png" base-sixty-four-input required ng-change="film.modified.screenshot2 = true" aria-label="Screenshot 2">
      </md-input-container>
      <md-card ng-if="film.formdata.screenshot2" class="md-image-no-fill card-film-add">
        <md-card-title>{{'FILM.SCREENSHOT' | translate}} 2</md-card-title>
        <md-card-content layout-align="space-around">
          <img ng-src="data:{{film.formdata.screenshot2Type}};base64,{{film.formdata.screenshot2}}" alt="screenshot" />
        </md-card-content>
        <md-card-footer layout="row" layout-align="end end"><ng-md-icon icon="delete" size="20" style="fill: red" ng-click="del('screenshot2')"></ng-md-icon></md-card-footer>
      </md-card>
      <md-input-container ng-if="!film.formdata.screenshot3">
        <small translate>{{'FILM.SCREENSHOT'}} 3</small>
        <input type="file" ng-model="film.formdata.screenshot3" accept="image/jpeg,image/gif,image/png" base-sixty-four-input required ng-change="film.modified.screenshot3 = true" aria-label="Screenshot 3">
      </md-input-container>
      <md-card ng-if="film.formdata.screenshot3" class="md-image-no-fill card-film-add">
        <md-card-title>{{'FILM.SCREENSHOT' | translate}} 3</md-card-title>
        <md-card-content layout-align="space-around">
          <img ng-src="data:{{film.formdata.screenshot3Type}};base64,{{film.formdata.screenshot3}}" alt="screenshot" />
        </md-card-content>
        <md-card-footer layout="row" layout-align="end end"><ng-md-icon icon="delete" size="20" style="fill: red" ng-click="del('screenshot3')"></ng-md-icon></md-cardfooter>
      </md-card>
    </div>
    <div layout-gt-sm="row" layout="column">
      <fieldset>
        <legend>{{'FILM.CATEGORIES' | translate}} <small>{{'FILM.MAX3' | translate}}</small></legend>
        <md-checkbox md-no-ink ng-true-value="'1'" ng-false-value="'0'"  ng-model="film.formdata.travel" aria-label="travel" ng-change="film.modified.travel = true && checkChanged(this)" ng-disabled="checked === max">
          {{'FILM.TRAVEL' | translate}}
        </md-checkbox>
        <md-checkbox md-no-ink ng-true-value="'1'" ng-false-value="'0'"  ng-model="film.formdata.sports" aria-label="sports" ng-change="film.modified.sports = true && checkChanged(this)" ng-disabled="checked === max">
          {{'FILM.SPORTSTOUR' | translate}}
        </md-checkbox>
        <md-checkbox md-no-ink ng-true-value="'1'" ng-false-value="'0'"  ng-model="film.formdata.expedition" aria-label="expedition" ng-change="film.modified.expedition = true && checkChanged(this)" ng-disabled="checked === max">
          {{'FILM.EXPEDITION' | translate}}
        </md-checkbox>
        <md-checkbox md-no-ink ng-true-value="'1'" ng-false-value="'0'"  ng-model="film.formdata.hotels" aria-label="hotels" ng-change="film.modified.hotels = true && checkChanged(this)" ng-disabled="checked === max">
          {{'FILM.HOTELS' | translate}}
        </md-checkbox>
        <md-checkbox md-no-ink ng-true-value="'1'" ng-false-value="'0'"  ng-model="film.formdata.events" aria-label="events" ng-change="film.modified.events = true && checkChanged(this)" ng-disabled="checked === max">
          {{'FILM.EVENTS' | translate}}
        </md-checkbox>
        <md-checkbox md-no-ink ng-true-value="'1'" ng-false-value="'0'"  ng-model="film.formdata.health" aria-label="health" ng-change="film.modified.health = true && checkChanged(this)" ng-disabled="checked === max">
          {{'FILM.HEALTHTOUR' | translate}}
        </md-checkbox>
        <md-checkbox md-no-ink ng-true-value="'1'" ng-false-value="'0'"  ng-model="film.formdata.rural" aria-label="rural" ng-change="film.modified.rural = true && checkChanged(this)" ng-disabled="checked === max">
          {{'FILM.RURAL' | translate}}
        </md-checkbox>
        <md-checkbox md-no-ink ng-true-value="'1'" ng-false-value="'0'"  ng-model="film.formdata.enotourism" aria-label="Enotourism" ng-change="film.modified.enotourism = true && checkChanged(this)" ng-disabled="checked === max">
          {{'FILM.ENOTOURISM' | translate}}
        </md-checkbox>
        <md-checkbox md-no-ink ng-true-value="'1'" ng-false-value="'0'"  ng-model="film.formdata.destinations" aria-label="Destinations" ng-change="film.modified.destinations = true && checkChanged(this)" ng-disabled="checked === max">
          {{'FILM.DESTINATIONS' | translate}}
        </md-checkbox>
        <md-checkbox md-no-ink ng-true-value="'1'" ng-false-value="'0'"  ng-model="film.formdata.animation" aria-label="Animation" ng-change="film.modified.animation = true && checkChanged(this)" ng-disabled="checked === max">
          {{'FILM.ANIMATION' | translate}}
        </md-checkbox>
      </fieldset>
    </div>
    <div layout="row" layout-align="center" layout-fill ng-if="!film.formdata.film">
      <h2 translate>{{'UPLOAD_VIDEO'}}</h2>
      <md-button class="md-fab md-primary" aria-label="upload film"  accept="video/*" ngf-select="upload($file)"><ng-md-icon icon="movie"></md-button>
    </div>
    <div layout="row" layout-align="center" layout-fill ng-if="film.formdata.film">
      <video ng-src="{{urlfilm}}" controls class="videofilm"></video>
    </div>
    <md-input-container>
      <md-button class="md-raised md-warn" aria-label="submit" ng-click="modifyFilm()" aria-label="submit">{{'SAVE' | translate}}</md-button>
    </md-input-container>
  </form>
</md-content>
